#booking {
  position: fixed;
  top: 10%;
  left: 300px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}
.booking_container h2 {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: var(--primary-dark1);
}
.sort_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.sort_text {
  display: flex;
  gap: 1.4rem;
}
.sort {
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  color: var(--gray-dark2);
}
.sort_grid {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.grid1 {
  padding: 0.6rem;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--gray-dark4);
  font-size: 2.5rem;
}
.row1 {
  padding: 0.6rem;
  background-color: var(--primary-purple);
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2.5rem;
}

.cars_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carCard {
  background-color: var(--color-white);
  border-radius: 0.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.car_title {
  display: flex;
  justify-content: space-between;
  color: var(--primary-dark1);
}

.carImg {
  margin-top: 0.8rem;
  padding: 1.2rem 2rem;
}

.car_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.info {
  display: flex;
  align-items: center;
}

.info span {
  padding-right: 1.2rem;
  color: var(--gray-dark3);
}

.money {
  display: flex;
  align-items: center;
}

.money span {
  color: var(--primary-dark1);
  font-weight: 500;
}
