#dashboard {
    position: fixed;
    top: 10%;
    left: 300px;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    margin-top: 2rem;
    
}

.card {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    padding: 2.5rem 0rem;
    font-weight: 500;
}
.card-1 {
    background-color: var(--primary-purple);
    color: var(--color-white);
}
.card-1 h2 {
    stroke: black;
    stroke-width: 1px;
}

.card_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card_title {
    padding: 0.9rem;
    margin-bottom: 0.6rem;
}
.icon {
    font-size: 1.8rem;
    padding: 0.4rem;
    border-radius: 50%;
}
.icon1 {
    color: var(--color-white);
    background-color: #B37EFC;
}

.icon2 {
    color: #FF7E86;
    background-color: #ff7e8723;
}
.icon3 {
    color: var(--primary-purple);
    background-color: #a162f72b;
}
.icon4 {
    color: var(--secondary-yellow);
    background-color: #f6cc0d36;
}
.CircularProgressbar {
    width: 140px;
    height: 100px;
    /* padding: 0rem 1rem; */
    font-weight: 600;
}
.CircularProgressbar .CircularProgressbar-trail {
    stroke-dashoffset: 60px !important;
    stroke-linecap: round !important;
}

.recharts_container {
    margin-top: 2rem;
    gap: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recharts_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-dark2);
    font-weight: 500;
    margin-top: 0.5rem;
}
.days {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
}
.days span {
    padding: 0.3rem 0.8rem;

}
.days span:nth-child(1) {
    border-radius: 0.8rem;
    background-color: var(--secondary-blue);
    color: var(--color-white);

}

.miles {
    font-size: 1rem;
}

.chartContainer {
    padding-top: 60%;
    position: relative;
}
.resChart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.chart_sec {
    border-radius: 1.2rem;
    background-color: var(--color-white);
    padding: 2rem;
}
